.sidebar {
  width: 150px;
  height: 100vh;
  background-color: #181818;
}

.profile {
  background-color: black;
  padding-bottom: 10px !important;
}

.profile-pic {
  max-width: 100%;
  width: 145px;
  border-radius: 50%;
  height: 145px;
  padding: 10px;
}

.name {
  font-size: 20px;
  font-weight: bolder;
}

.occupation {
  font-size: 15px;
  font-weight: lighter;
}

.links {
  margin: 30px 0px 0px 0px !important;
  padding: 0px !important;
  text-align: center;
  color: gray;
  font-weight: 600 !important;
  text-decoration: none !important;
}

.links:hover {
  text-decoration: none !important;
  color: #08fdd8;
}

.links div {
  padding: 15px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
  border-top: 1px solid rgba(128, 128, 128, 0.5);
  cursor: pointer;
  text-decoration: none !important;
}
